
/*
MENU DO ARQUIVO

0 - Geral
1 - Nav Bar
2 - Section 1
3 - Section 2

*/


/* 0 - Geral */

/*  Variaveis em CSS, use o :root e os traços, vc cria uma vez e pode usar no codigo inteiro!*/
:root{
    --rosa-primario:  #FFB6C0;
    --rosa-secundario:  #rgba(255,182,192,0.8);


    --branco-primario:  #FFF;
    --branco-secundario: #FFFEE8;


    --cinza-primario:  #333;
    --cinza-secundario: #CECECE;
}
/* Metodologia para adicionar fontes:

lembre que ".." retorna uma página

*/
@font-face{
    font-family:'Titan';
    src: url("../fonts/TitanOne-Regular.ttf");
}


@font-face{
    font-family:'Conforta';
    src: url("../fonts/Comfortaa-Regular.ttf");
}

@font-face{
    font-family:'CarterOne';
    src: url("../fonts/CarterOne.ttf");
}

@font-face{
    font-family:'Montserrat';
    src:url("../fonts/Montserrat-Regular.ttf");
}


.home{
    background-image:url('../img/animal.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--branco-primario);
    font-family: 'Titan One';
}

/*  1  - Nav Bar  */


nav{
    text-align: end;
}

nav a{
    color: var(--branco-primario);
    text-decoration: none;
    margin: 15px 5px;
    padding: 10px 20px;
    transition: 1s;


}

/*  
:hover é uma pseudo classe, (basicamente, classes condicionais)

::after e ::before são pseudo-elementos (elementos condicionados a outros elementos)
*/
nav a:hover{
    border-radius: 20px;
    background-color: var(--rosa-primario); 
    transition: 0.5s;

}


nav ul li{
    display: inline-block;
    margin: 15px 5px;
    
}


nav ul li:nth-child(1):after,
nav ul li:nth-child(2):after,
nav ul li:nth-child(3):after{
    display: inline-block;
    content: "";
    position: relative;
    top: 12px;
    height: 35px;
    width: 5px;
    background-color: var(--rosa-primario);
}

/* 2- section 1 */

.Titulo-principal{
    font-family: 'Titan One';
    margin-top: 40vh;
    color: var(--branco-primario);
    font-size: 5em;
    letter-spacing: 3px;
}

.header{
    width: 90%;
}

.redes-sociais{
    height: 75px;
    width: 75px;
    margin: 20px 90px;
}
/*
Eu já tinha centralizado a home antes deles ensinarem então usei outro método, mas pra não perder o conteúdo novo:

Transform: Translate(50%,50%), essa função move a tag escolhida de acordo com o centro, e não com o padrão, que é top-left

Tipos de unidades de medida:

1-em: utiliza o tamanho base dos pixels pré definidos(resolução padrão) da tag parent

2-px: pixels, bastante literal.

3-%: porcentagem, é literal também, se refere a porcentagem total da seção inserida.

4-vh e vw: view-height e view-width, relacionado a porcentagem também, mas exclusivamente da sua tela atual, não da div ou seção inserida.

*/
.frase-secundaria{

font-family: 'CarterOne';
margin-top: 10%;
font-size: 1.5em;
}

.arrow{
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-top: 10px;
    border-left: 8px solid var(--branco-primario);
    border-bottom: 8px solid var(--branco-primario);
    transform: rotate(-45deg);
    transition: 0.2s;
}

.arrow:hover{
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-top: 15px;
    border-left: 8px solid var(--branco-primario);
    border-bottom: 8px solid var(--branco-primario);
    transform: rotate(-45deg);
    transition: 0.2s;

}


/*3 - Section2 */

.section2{
    width: 80%;
    margin: 0 auto;
    height: 1500px;
    background-color: var(--branco-primario)
}



.quem-somos{
    text-align: center;
    font-family: 'Conforta';

}

.quem-somos-header{
    font-family: 'Titan';
    color: var(--rosa-primario);
    margin: 40px 0;
    font-size: 2em;

}

.quem-somos-texto2{
    border: 5px solid var(--rosa-primario);
    font-family: 'Conforta';
    font-size: 1.5em;
    padding: 15px;
    margin: 20px;
    width: 340px;
    height: 370px;
    color: var(--rosa-primario);
    position: relative;
    top: -100px;
    left: 320px;
    
}

.animais-section2{
    width: 1000px;
    height: 533px;
    margin: 30px auto;
}

.animais-section2 .animal1{
    margin-top: 0%;
    margin-left:0%;
}

.animais-section2 .animal2{
    position: relative;
    right: -400px;
    top: -140px;
    z-index: 1;
}

.quem-somos-texto-3 h2{
    font-family: 'Montserrat';
    font-size: 2em;
    margin-bottom: 30px;
}

.quem-somos-texto-3 p {
    font-family: "Conforta";
}
.quem-somos-texto-3{
    width: 428px;
    height: 459px;
    position: absolute;
    right: 10%;
    top: 1800px;
}

.quem-somos-imagem-3{
    position: relative;
    right: 143px;
}


/* 3- Footer*/